!!!
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/ui-darkness/jquery-ui.css')
        script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
        script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js')
        script(type='text/javascript', src='/javascripts/script.js')
    body
        a#logo(href='/')
            img(src='/images/logo.png')
        a#log-out(href="javascript:void(0)") Log out
        .links
            a#message-view-link(href="/") Message View
            a#task-view-link(href="/tasks/") Task View
        #main-container!= body
