@font-face {
    font-family: "Ubuntu";
    src: url('/etc/Ubuntu-R.ttf');
}
body {
    padding: 50px;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html {
    background-color: #efefef;
}

a {
  color: #00B7FF;
}
#main-container {
    width: 960px;
    margin: 0 auto;
    margin-top: 30px;
}
#message-area {
    width: 100%;
    height: 200px;
}
#logo {
    position: absolute;
    left: 15px;
    top: 15px;
}
#log-out {
    position: absolute;
    right: 15px;
    top: 15px;
}
.links {
    text-align: center;
}
.links a {
    margin: 20px;
    font-size: x-large;
    text-decoration: none;
    color: navy;
    border-bottom: 1px solid navy;
}
.links a:before {
    content: "»";
    color: black;
}
.message {
    width: 100%;
    border-top: 2px dotted #c0c0c0;
    margin-top: 15px;
    padding: 5px;
}
.message .title {
    float: left;
    font-weight: bold;
}
.message .date {
    font-weight: bold;
}
.message .content {
    float: left;
}
.message .side-data {
    float: right;
}
#task-create {
    display: none;
}
#tip {
    font-size: 12px;
}
.task-label {
    cursor:  pointer;
    width: 49px;
    height: 16px;
    overflow: hidden;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    font-weight: bolder;
}
.task-label.active {
    background-image: url(/images/label-active.png);
}
.task-label.active:hover {
    background-image: url(/images/label-active-hover.png);
}
.task-label.finished {
    background-image: url(/images/label-finished.png);
}
.task-label.finished:hover {
    background-image: url(/images/label-finished-hover.png);
}
.task-label.closed {
    background-image: url(/images/label-closed.png);
}
.task-label.closed:hover {
    background-image: url(/images/label-closed-hover.png);
}
.task-label.wontfix {
    background-image: url(/images/label-wontfix.png);
}
.task-label.wontfix:hover {
    background-image: url(/images/label-wontfix-hover.png);
}
.task-label.duplicate {
    background-image: url(/images/label-duplicate.png);
}
.task-label.duplicate:hover {
    background-image: url(/images/label-duplicate-hover.png);
}

.task-details {
    display: none;
    position: absolute;
    background-color: #fafafa; 
    border: 5px solid #ddd;
    min-width: 400px;
    max-width: 600px;
    padding: 5px;
}
.task-details > .name {
    font-size: 20px;
}
.task-details > .date {
    font-style: oblique;
    margin-bottom: 12px;
    font-size: 10px;
}
.task-details > .content {
    display: block;
    margin-bottom: 12px;
    width: 100%;
    background-color: #f0f0f0;
}
.task-details ul.comments {
    padding: 0;
}
.task-details .comments li {
    width: 100%;
    list-style: none;
    padding: 0;
    display: inline-block;
    margin-left: 6px;
}

.task-details .comments li .author {
    font-size: 10px;
    font-weight: bold;
    color: #888;
    line-height: 90%;
}
.task-details .comments li .date {
    font-size: 10px;
    font-style: oblique;
    font-weight: lighter;
    color: #888;
    line-height: 90%;
}
.task-details .comments li .content {
    font-size: 14px;
    margin-top: 2px;
}
.task-details .comments li {
    margin-bottom: 14px;
    padding-left: 4px;
    border-left: 2px solid #eee;
}
.task-details .add-comment {
    margin-left: 10px;
}
.task-details .add-comment textarea {
    width: 60%;
    min-height: 70px;
    border: 2px solid #ddd;
}
.task-details .add-comment .submit {
    padding: 3px 6px;
}
.task-details .change-status {
    margin: 6px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.task-details .change-status:before {
    content: "»";
}
.task-preview {
    display: none;
    position: absolute;
    padding: 5px;
    background-color: #ddd;
    border: 2px solid #eee;
    font-style: bold;
    border-radius: 8px;
    z-index: 1000;
}

.task-view-page .task {
    border: 1px solid #ddd;
    margin-bottom: 2px;
    padding: 10px;
    background-color: #ececec;
    position: relative;
}
.task-view-page .task:hover {
    background-color: #eaeaea;
}
.task-view-page .task .title {
    display: table-cell;
}
.task-view-page .task .title * {
    display: inline;
    margin-right: 3px;
}
.task-view-page .task .title .id {
    font-weight: bold;
    border-radius: 3px;
    padding: 2px;
}
.task-view-page .task .title .id.active {
    background-color: #627112;
    color: #eee;
}
.task-view-page .task .title .id.finished {
    background-color: #1a71a1;
}
.task-view-page .task .title .id.closed {
    background-color: #f28d10;
}
.task-view-page .task .title .id.duplicate {
    background-color: #9f1421;
}
.task-view-page .task .title .id.wontfix {
    background-color: #f1890e;
}
.task-view-page .task .right {
    display: table-cell;
    text-align: right;
    line-height: 90%;
}
.task-view-page .task .banner {
    width: 100%;
    display: table;
    cursor: pointer;
}
.task-view-page .task .data {
    overflow: hidden;
    height: 0;
}
.task-view-page .task .data > .content {
    background-color: #ededed;
    padding: 6px;
    margin: 4px;
}
.task-view-page .task ul.comments {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 10px;
}
.task-view-page .task ul.comments li {
    border-left: 2px solid #ddd;
    margin-top: 7px;
}
.task-view-page .task ul.comments li .author {
    font-size: 10px;
    font-weight: bold;
    color: #888;
    line-height: 90%;
}
.task-view-page .task ul.comments li .date {
    font-size: 10px;
    font-style: oblique;
    font-weight: lighter;
    color: #888;
    line-height: 90%;
}
.task-view-page .task .add-comment textarea {
    width: 30%;
    min-height: 70px;
    border: 2px solid #ddd;
}
.task-view-page .task .add-comment {
    margin: 10px;
}
.task-view-page .task .change-status {
    margin: 6px;
    bottom: 0;
    right: 0;
    position: absolute;
    display: none;
}
