body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

html {
    background-color: #cfcfcf;
}

a {
  color: #00B7FF;
}

#main-container {
    width: 960px;
    margin: 0 auto;
    margin-top: 30px;
}
#message-area {
    width: 100%;
    height: 200px;
}
#logo {
    position: absolute;
    left: 15px;
    top: 15px;
}
#log-out {
    position: absolute;
    right: 15px;
    top: 15px;
}
.message {
    width: 100%;
    border: 1px solid #c0c0c0;
    margin-top: 5px;
}
.message .title {
    float: left;
    font-weight: bold;
}
.message .date {
    font-weight: bold;
}
.message .content {
    float: left;
}
.message .side-data {
    float: right;
}
#task-create {
    display: none;
}
#tip {
    font-size: 12px;
}
.task-label {
    cursor:  pointer;
    width: 49px;
    height: 16px;
    overflow: hidden;
    display: inline-block;
    font-size: 12px;
    text-align: center;
}
.task-label.active {
    background-image: url(/images/label-active.png);
}
.task-label.active:hover {
    background-image: url(/images/label-active-hover.png);
}
.task-label.finished {
    background-image: url(/images/label-finished.png);
}
.task-label.finished:hover {
    background-image: url(/images/label-finished-hover.png);
}
.task-label.closed {
    background-image: url(/images/label-closed.png);
}
.task-label.closed:hover {
    background-image: url(/images/label-closed-hover.png);
}
.task-label.wontfix {
    background-image: url(/images/label-wontfix.png);
}
.task-label.wontfix:hover {
    background-image: url(/images/label-wontfix-hover.png);
}
.task-label.duplicate {
    background-image: url(/images/label-duplicate.png);
}
.task-label.duplicate:hover {
    background-image: url(/images/label-duplicate-hover.png);
}
.task-details {
    display: none;
    position: absolute;
    background-color: #aaa;
    border: 3px solid green;
    min-width: 400px;
}
ul.comments, ul.comments li {
    min-width: 300px;
}
